@import "tailwindcss";

@theme inline {
  --color-max-blue-900: #060913;
  --color-max-blue-700: #181e30;
  --color-max-blue-500: #272e3e;
  --color-max-blue-200: #abd1fc;

  --font-science-personal-use-only: var(--font-science-personal-use-only);
  --font-funnel-sans: var(--font-funnel-sans);

  --animate-growth: growth 3s forwards;
  @keyframes growth {
    from {
      width: 0px;
    }
    to {
      width: 80px;
    }
  }

  --animate-growth-color: growth-color 8s cubic-bezier(0.15, 0.9, 0.7, -0.15)
    infinite;
  @keyframes growth-color {
    0% {
      color: var(--color-max-blue-700);
    }
    20% {
      color: var(--color-max-blue-500);
    }
    40% {
      color: var(--color-max-blue-200);
    }
    60% {
      color: var(--color-max-blue-500);
    }
    100% {
      color: var(--color-max-blue-700);
    }
  }

  --animate-circle-center: circle-center 1s ease-in-out alternate forwards;
  @keyframes circle-center {
    0% {
      fill-opacity: 0;
    }
    100% {
      fill-opacity: 1;
    }
  }

  --animate-shadow-blur: shadow-blur 3s ease-in-out 1s forwards;
  @keyframes shadow-blur {
    0% {
      fill-opacity: 0;
    }
    100% {
      fill-opacity: 1;
    }
  }

  --animate-show-lines: show-lines 7s cubic-bezier(0.17, 0.67, 0.83, 0.67) 3s
    infinite;
  @keyframes show-lines {
    0% {
      opacity: 0;
      stroke-dasharray: 1 1000;
      stroke: var(--color-max-blue-500);
    }
    20% {
      opacity: 1;
      stroke-dasharray: 200 800;
      stroke: var(--color-max-blue-200);
    }
    40% {
      opacity: 1;
      stroke-dasharray: 400 600;
      stroke: var(--color-max-blue-500);
    }
    60% {
      opacity: 1;
      stroke-dasharray: 600 400;
      stroke: var(--color-max-blue-500);
    }
    80% {
      opacity: 1;
      stroke-dasharray: 800 200;
      stroke: var(--color-max-blue-500);
    }
    100% {
      opacity: 0;
      stroke-dasharray: 1000 1;
      stroke: var(--color-max-blue-500);
    }
  }

  --animate-fadeIn: fadeIn 1s ease-in-out forwards;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-slide-right: slide-right 1s ease-in-out 3.5s forwards;
  @keyframes slide-right {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  --animate-slide-left: slide-left 1s ease-in-out 3.5s forwards;
  @keyframes slide-left {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

body {
  background: var(--color-max-blue-900);
  color: var(--color-max-blue-200);
  font-family: var(--font-funnel-sans), Arial, Helvetica, sans-serif;
}

/* #welcome {
  position: relative;

  &::before {
    position: absolute;
    right: 110%;
    top: 50%;
    content: "";
    width: 0px;
    height: 1px;
    border-radius: 100%;
    background: linear-gradient(
      90deg,
      rgba(39, 46, 62, 1) 0%,
      rgba(234, 244, 254, 1) 31%,
      rgba(184, 216, 252, 1) 84%,
      rgba(39, 46, 62, 1) 100%
    );
    animation: growth 3s forwards;
  }
  &::after {
    position: absolute;
    left: 110%;
    top: 50%;
    content: "";
    width: 80px;
    height: 1px;
    border-radius: 100%;
    background: linear-gradient(
      90deg,
      rgba(39, 46, 62, 1) 0%,
      rgba(234, 244, 254, 1) 31%,
      rgba(184, 216, 252, 1) 84%,
      rgba(39, 46, 62, 1) 100%
    );
    animation: growth 3s forwards;
  }
} */

#four-stack:has(li:hover) {
  li:hover {
    box-shadow: 0 0 20px var(--color-max-blue-200);
  }

  li:not(:hover) {
    filter: blur(2px);
  }
}

.lines-before-after {
  position: relative;

  &::before {
    position: absolute;
    right: 100%;
    top: 50%;
    content: "";
    width: 80px;
    height: 1px;
    border-radius: 100%;
    background: linear-gradient(
      90deg,
      rgba(39, 46, 62, 1) 0%,
      rgba(234, 244, 254, 1) 31%,
      rgba(184, 216, 252, 1) 84%,
      rgba(39, 46, 62, 1) 100%
    );
  }
  &::after {
    position: absolute;
    left: 100%;
    top: 50%;
    content: "";
    width: 80px;
    height: 1px;
    border-radius: 100%;
    background: linear-gradient(
      90deg,
      rgba(39, 46, 62, 1) 0%,
      rgba(234, 244, 254, 1) 31%,
      rgba(184, 216, 252, 1) 84%,
      rgba(39, 46, 62, 1) 100%
    );
  }
}
