@import "tailwindcss";

@theme inline {
  --color-max-blue-900: #060913;
  --color-max-blue-700: #181e30;
  --color-max-blue-500: #272e3e;
  --color-max-blue-200: #abd1fc;

  --font-science-personal-use-only: var(--font-science-personal-use-only);
  --font-funnel-sans: var(--font-funnel-sans);

  --font-andromeda: var(--font-andromeda);
  --font-aquire: var(--font-aquire);
  --font-fastrace: var(--font-fastrace);
  --font-library3am: var(--font-library3am);
  --font-modern-warfare: var(--font-modern-warfare);
  --font-moonstrike: var(--font-moonstrike);
  --font-tristan-demo-regular: var(--font-tristan-demo-regular);

  --animate-growth: growth 3s forwards;
  @keyframes growth {
    from {
      width: 0px;
    }
    to {
      width: 80px;
    }
  }

  --animate-growthColor: growthColor 8s cubic-bezier(0.15, 0.9, 0.7, -0.15)
    infinite;
  @keyframes growthColor {
    0% {
      color: var(--color-max-blue-700);
    }
    20% {
      color: var(--color-max-blue-500);
    }
    40% {
      color: var(--color-max-blue-200);
    }
    60% {
      color: var(--color-max-blue-500);
    }
    100% {
      color: var(--color-max-blue-700);
    }
  }
}

body {
  background: var(--color-max-blue-900);
  color: var(--color-max-blue-200);
  font-family: var(--font-funnel-sans), Arial, Helvetica, sans-serif;
}

#welcome {
  position: relative;

  &::before {
    position: absolute;
    right: 110%;
    top: 50%;
    content: "";
    width: 0px;
    height: 1px;
    border-radius: 100%;
    background: linear-gradient(
      90deg,
      rgba(39, 46, 62, 1) 0%,
      rgba(234, 244, 254, 1) 31%,
      rgba(184, 216, 252, 1) 84%,
      rgba(39, 46, 62, 1) 100%
    );
    animation: growth 3s forwards;
  }
  &::after {
    position: absolute;
    left: 110%;
    top: 50%;
    content: "";
    width: 80px;
    height: 1px;
    border-radius: 100%;
    background: linear-gradient(
      90deg,
      rgba(39, 46, 62, 1) 0%,
      rgba(234, 244, 254, 1) 31%,
      rgba(184, 216, 252, 1) 84%,
      rgba(39, 46, 62, 1) 100%
    );
    animation: growth 3s forwards;
  }
}

#tech-stach {
  position: relative;

  &::before {
    position: absolute;
    right: 110%;
    top: 50%;
    content: "";
    width: 80px;
    height: 1px;
    border-radius: 100%;
    background: linear-gradient(
      90deg,
      rgba(39, 46, 62, 1) 0%,
      rgba(234, 244, 254, 1) 31%,
      rgba(184, 216, 252, 1) 84%,
      rgba(39, 46, 62, 1) 100%
    );
  }
  &::after {
    position: absolute;
    left: 110%;
    top: 50%;
    content: "";
    width: 80px;
    height: 1px;
    border-radius: 100%;
    background: linear-gradient(
      90deg,
      rgba(39, 46, 62, 1) 0%,
      rgba(234, 244, 254, 1) 31%,
      rgba(184, 216, 252, 1) 84%,
      rgba(39, 46, 62, 1) 100%
    );
  }
}
